* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.page-wrapper {
  width: 375px;
  margin: auto;
  padding: 10px;
}
header {
  height: 275px;
  padding-top: 46px;
  text-align: center;
  background-image: url("../img/background_image.png");
  border-radius: 15px 15px 80px 80px;
  color: #ffffff;
}
.hello {
  font-size: 50px;
}
.hello-text {
  font-size: 18px;
}
.user {
  width: 300px;
  margin: auto;
  margin-top: -60px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.avatar-image {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.username {
  margin: 0;
  font-size: 20px;
  line-height: 15px;
}
.user-position {
  font-size: 16px;
  color: rgb(143, 143, 143);
}
.buttons {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin: auto;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.button {
  border-radius: 9px;
  flex-grow: 1;
  min-height: 39px;
  min-width: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  border: 1px solid rgb(255, 255, 255);
}
.button-vk {
  background-color: #0077ff;
}
.button-tg {
  background-color: #2aabee;
}
.button-gh {
  background-color: #000000;
  gap: 10px;
  color: #ffffff;
}
